.back_page {
  top: 50px;
  left: 80px;
  position: absolute;

  border: 1px solid var(--gray-900);
  background: var(--gray-900);
  width: 4rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  
  z-index: 100;
  
  color: #fff;
  font-size: 1.8rem;
  
  transition: 0.2s;
  cursor: pointer;
  
  &:hover {
    border: 1px solid var(--cyan-500);
    transform: scale(1.1);
    color: var(--cyan-500);
  }
}

.options_post_link {
  left: 0;
  top: 28%;
}

.options_post_insta {
  left: 0;
  top: 38%;
}

.options_post_top {
  left: 0;
  top: 48%;
}

.options_post {
  width: auto;
  height: auto;

  padding: 0.7rem;
  z-index: 10000;
  position: fixed;

  border-radius: 0 0.8rem 0.8rem 0;
  background: var(--cyan-500);
  color: var(--gray-900);
  border: 1px solid var(--cyan-500);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.2s;

  &:hover {
    background-color: var(--gray-900);
    color: var(--cyan-500);
  }
}

@media (min-width: 200px) and (max-width: 968px) {
  .options_post {
    display: none;
  }
  
  .back_page {
    width: 3rem;
    height: 3rem;
    top: 15px;
    left: 15px;

    font-size: 1.4rem;
  }
}