.page {
  width: 100vw;
  min-height: 100vh;

  position: relative;

  display: flex;
  flex-direction: column;
}

.content {
  width: 100vw;
  height: 100vh;

  padding: 0 4rem 0 4rem;

  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  > h1 {
    color: #fff;
    font: 300 3rem 'Montserrat', sans-serif;
  }

  > h1 strong {
    font-weight: 500;
  }

  > p {
    color: #fff;
    font: 300 1.2rem 'Rubik', sans-serif;
    opacity: 0.8;
  }
}

.posts {
  width: 100vw;
  height: auto;
  min-height: 25rem;

  padding: 3rem;
  background: var(--gray-900);
  
  display: flex;
  gap: 3.9rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  
  color: var(--cyan-500);

  .post {
    width: 22rem;
    min-height: 28rem;
    max-width: 33rem;

    background: var(--gray-700);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5rem;

    transition: 0.3s;

    &:hover {
      margin-top: -0.3rem;
      background-color: var(--gray-800);
    }

    img {
      width: 100%;
      height: 12rem;
      object-fit: cover;
    }

    .content {
      flex: 1;
      width: 100%;
      height: 100%;

      padding: 0 1.2rem 0 1.2rem;

      display: flex;
      gap: 0.6rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      h1 {
        font: 600 1.2rem 'Montserrat', sans-serif;
      }

      > div {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h2 {
          display: flex;
          gap: 0.25rem;
          flex-direction: row;
          font: 600 0.8rem 'Rubik', sans-serif;
        }
        
        time {
          display: flex;
          gap: 0.25rem;
          flex-direction: row;
          font: 300 0.8rem 'Rubik', sans-serif;
        }
      }

      p {
        height: 8rem;
        margin-top: 0.65rem;
        color: #fff !important;
        font: 200 1rem 'Rubik', sans-serif;
        line-height: 1.533rem;
        overflow: hidden;

        background: linear-gradient(var(--gray-100), transparent);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    a {
      width: 100%;
      height: 2.5rem;
      padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  
      color: var(--color-grey-200);
      font: 600 0.95rem 'Montserrat', sans-serif;
  
      border: none;
      cursor: pointer;
      background: var(--color-blue);

      display: flex;
      align-items: center;
      justify-content: center;
  
      transition: 0.2s;
  
      &:hover {
        filter: brightness(80%);
      }
    }
  }
}

.title_posts {
  font: 600 2.2rem 'Montserrat', sans-serif;
  color: var(--color-blue);
  align-self: flex-start;

  margin-left: 5.2rem;
}

.load_posts {
  width: 95%;
  color: var(--color-blue);
  font: 400 1.1rem 'Rubik', sans-serif;
      
  border-radius: 8px;
  border: 1px solid var(--color-blue);
  background-color: transparent;
  padding: 1rem 2.5rem 1rem 2.5rem;
  line-height: 1.2rem;
  cursor: pointer;
  text-align: center;
      
  display: flex;
  justify-content: center;
  align-items: center;
      
  transition: 0.2s;
      
  &:hover {
    color: var(--color-background-dark);
    background-color: var(--color-blue);
  }
}

@media (min-width: 320px) and (max-width: 968px) {
  .container {
    .illustration {
      display: none;
    }
  
    .content {
      width: 100%;
      height: auto;
    
      padding: 2rem;
    }
  }

  .posts {
    width: 100%;
    padding: 2rem;
  }
}